<%= render 'admin/nav' %>
<%= render 'admin/contract_plans/nav' %>
<h2>Features</h2>
  <%= render :partial => 'list' , :locals => {:features => @features}%>
<%if @can_create %>
<%= link_to 'new', new_admin_feature_path %>
<%end%>