<h2>Change History</h2>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Action</th>
      <th>Time</th>
      <th>User</th>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
    <tr>
      <td><%= link_to "details", [:admin,@offer,audit] %></td>
      <td><%= audit.action %></td>
      <td><%= audit.created_at.to_s(:short) %></td>
      <td><%= link_to audit.user.email, [:admin,audit.user] if audit.user %></td>
    </tr>
    <% end %>
  </tbody>
</table>

