.rvmrc
*.notes.txt
*.pid
.DS_Store
config/database.yml
config/gateway.yml
data/dump.*
data/local_exceptions/*
data/sms_redemption*
data/*.log*
data/uploads*
db/*.sqlite3
db/schema.rb
db/sphinx
gem_make.out
lib/marker.rb
lib/tasks/nick.rake
local/*
log/*.lck
log/*.log
public/javascripts/all.js
public/stylesheets/all.css
public/uploads
solr
specs.html
specs.txt
tmp/**/*
ssl_key_notes.txt