<p>
	<%= link_to image_tag("buy_magazine.gif"), "https://www.ncifeeds.com/default.aspx?refer=ABB", :target => "_blank" %>
	<%= link_to image_tag("search_online.gif"), "http://www.apartmentfinder.com", :target => "_blank" %>
</p>