<%# http://b2b.whitefence.com/widget/utility-large.html %>
<div class="widget-body">
<link href="http://b2b.whitefence.com/widget/small/widgetstyle.css" rel="stylesheet" type="text/css">
<img src="http://b2b.whitefence.com/widget/small/top.gif" alt="Free Utility Connections" class="widget-top">
<div class="widget-text">Order <a class="link" href="http://www.whitefence.com/phone-service.html">local phone</a>, <a class="link" href="http://www.whitefence.com/tv-service.html">cable & satellite TV</a>, <a class="link" href="http://www.whitefence.com/high-speed-internet.html">high-speed Internet</a>, <a class="link" href="http://www.whitefence.com/electricity-service.html">electricity</a> and more for your home.</div>
<script language="JavaScript" type="text/javascript" src="http://b2b.whitefence.com/widget/small/addressform.js"></script>
</div>