<h2>Welcome to the Community Offers Public API</h2>
<p>Here we provide REST-ful access to our offer and category data.</p>
<p>For more information, please review our offer <%= link_to "attribute guide", attributes_api_offers_path %>.</p>

