<div class='apps'>
  <%= link_to image_tag("home/android_market.png"), android_app_path, :target => "_blank" %> 
  <%= link_to image_tag("home/itunes_store.png"), iphone_app_path, :target => "_blank" %>
</div>
