<li>
  <div class='left photo'>
    <%= image_tag "company/caricatures/#{img_name}.png", :alt => name, :title => name %>
  </div>
  <div class='left profile'>
    <h4><%= name %></h4>
    <p class='desc'><%= description %></p>    
  </div>

</li>