<div class="grid_11 prefix_4">  
	<h2>Our Team</h2>
	<p>Based in Houston, Texas our team has an incredible amount of experience in trying to save money and wanting more for our families,  neighbors and friends.  Besides that, we also have more than 50 years combined experience in retail merchandising, consumer marketing, printing, Web development and sales.</p>
	<h3><span class="name">Philip Alva<span>, <span>Founder and Chief Sales Guy</span></h3>
	<img src="/images/philip.jpg" alt="philip" width="125" height="159" class="leftImage"/>
	<p><strong>Phil is the tightest guy on the planet.  Really.  So when he started  looking for a better way to save money,  he REALLY wanted to save money.  Not just for his family and friends, but as a business guy.  He put his incredible analytical brain to work and Community Offers was born.</strong></p>
	<p>Philip has spent the last 21 years building highly effective sales and operation teams.  His experience includes heading up one of the top franchises for a leader in the new mover direct mail market and overseeing national operations for one of the nation's largest distributors of free consumer publications. </p>

	<p>Competitive, organized and driven, Philip has managed his teams through training and development resulting in $100 million in revenue growth.  He is  results-oriented, decisive and a proactive leader with proven success in talent recruitment, strategic business planning, negotiation and problem solving.</p>

	<h3><span class="name">Maria Isbell</span>, <span>CoFounder and Marketing Genius</span></h3>
	<img src="/images/maria.gif" alt="maria" width="113" height="159" class="leftImage"/>
	<p><strong>Maria is not as tight as Phil.  Frankly, no one is.  But she has six kids (yup, that is not a typo) so she runs a pretty close second.  She has spent the last 25 years working with consumer strategy, direct marketing, Web development, and family organizations to better understand the needs of today's family and how to use an intelligent blend of media to create relevant messages.</strong></p>
	<p>Maria's background includes serving as Vice President of National Sales and Strategic Alliances for one of the nation's largest free consumer publication distribution companies, Vice President of Training and Development for a leading real estate advertising company and Chief Marketing Officer for a family based Web portal focusing on parents and children.  She has a Bachelor's from Texas State University-- and did we mention the six kids?</p>

	<h2>Our partners</h2>
	<img src="/images/partner_1.gif" alt="partner_1" width="189" height="100" class="leftImage"/>
	<img src="/images/partner_2.gif" alt="partner_1" width="189" height="100" class="leftImage"/>
	<img src="/images/partner_3.gif" alt="partner_1" width="189" height="100" class="leftImage"/>

	<div></div>
</div> <!-- grid_8 -->