<div class="grid_10 prefix_1">  
	<h2>Our Philosophy</h2>

	<p><strong>Our idea is simple and compelling:  If we can help people save money with local business, they will share their excitement with their friends and family, who will in turn support local business and shop with them more.</strong></p>

	<p><strong>Save. Share. Support. Shop.</strong></p>

	<p><strong>You save money. Better use of technology and social marketing help spread the word. Local business gets a boost which strengthens the economy. Shopping is fun and rewarding again without unnecessary ads or mailbox clutter!</strong></p>

	<p>You win, your friends win, your local economy wins, and the environment wins.  It doesn't get much better than that!</p>

	<p>Another unique part of our service:  we don't believe you should have to pay to get the best deals.  We won't ask you to buy a membership, buy a book, buy a discount card or even deal with loads of junk mail each day.  Our products include a free, easy to use Web site with online, searchable offers and a FREE discount offer card with 
	special local offers available at participating retailers in our anchor markets.  Cards are reusable for three full months and printed on  recyclable materials to eliminate unneccessary waste.
	</p>
	<p>You can find information on our offers at any of our display racks 
	in area retailers in select cities, advertised in local real estate and  apartment magazines, online through communityoffers.com and via our strategic marketing partners. </p>
	<p>Tell us what you think.  Really.  We did this for you! </p>


	<h2>Your Commitment</h2>

	<img src="/images/your_commitment.jpg" alt="your_commitment" width="218" height="199" class="leftImage"/>

	<p>We believe in saving money and helping our local communities.  The truth is, we feel you can't address these issues responsibly if you don't address the issue of junk mail.  According to ecocycle.org:</p>

	<p>More than 41.5 billion pieces of mail advertisements were produced and distributed in the U.S in 2005, according to the Worldwatch Institute. It took more than 100 million trees to create all this bulk mail that's the equivalent of deforesting the entire Rocky Mountain National Park every four months. Even though most junk mail can be recycled, 5.8 million tons of catalogs and other direct mailings ended up as trash in landfills or incinerators in 2005. And all this comes at a cost to our climate as well: The production and disposal of junk mail consumes more energy than 3 million cars.</p>

	<p>Each of us will spend an average of eight months of our lives dealing with junk mail.  If you would like to cut down on your unwanted junk mail, the Direct Marketing Association can help.</p>

	<p><strong><%= link_to "https://www.dmachoice.org/dma/member/home.action", "https://www.dmachoice.org/dma/member/home.action" %></strong></p>
</div> <!-- grid_8 -->
