<%= head_text "Privacy Policy" %>
<p><strong>Last Updated 02/11/2011</strong></p>
<p>
	Community Offers respects the privacy of every individual who visits our 
	website. This Privacy Policy outlines the information communityoffers.com  
	(the "Site") will collect and how we will use that information. By accepting 
	the Privacy Policy and the Terms and Conditions of Service during 
	registration, you expressly consent to our collection, storage, use and 
	disclosure of your personal information as described in this Privacy Policy.  
	This Privacy Policy is effective upon acceptance for new users and is otherwise 
	effective on January 1, 2010. Our site may contain links to other web sites. 
	We have no control over the privacy practices or the content of any of our 
	business partners or other sites to which we provide links from our sites.
	You should check the applicable privacy policy of the web site sponsor when 
	linking to other web sites. Any questions regarding this Privacy Policy 
	should be directed to Communityoffers.com at <%= mail_to "privacy@communityoffers.com" %>.
</p>

<h2>What Information Do We Collect?</h2>
<p>
	You can browse most of the Site without telling us who you are. If you choose 
	to give us personal information you consent to the transfer and storage of 
	that information on our servers located in the United States. 
</p>
<p>
	If you choose to give us personal information via the Internet so that we 
	or our business partners can correspond with you, it is our intent to let 
	you know how we will use such information. Some examples of this type of 
	personal information include the information you electronically submit 
	(such as your name or email address) when you register to print, email 
	or save offers on the Site, information that you post on customer feedback 
	boards on the Site , or information contained in search requests or 
	questions that you submit to the Site. If you decide not to supply or 
	provide Community Offers with certain information while using the Site, 
	we may not be able to provide you with some services that are dependent 
	on the collection of this information. 
</p>
<p>
	Some specific ways in which we collect and use information you supply to us include: 
</p>
<ul>
	<li>
		<h3>Membership Registration</h3>
		<p>
			To make use of certain features of the Site (such as coupon emails or 
			mobile phone messages containing coupon offers) a visitor needs to 
			register and provide us with certain information. The registration form 
			asks the visitor for his or her name, age range, address, zip code, email 
			address, mobile phone number, general demographic information, and coupon 
			category preferences. If a visitor does not wish to provide any information 
			other than their name, age range, zip code, and an email address, then all 
			other fields may be left blank. The information you supply will help us 
			to offer you more personalized features. The more you tell us about yourself, 
			the more value we can offer you. For example, we cannot offer you personalized 
			coupons or maps and driving directions to local businesses if you don't 
			tell us where you live. Of course, if you want to remain completely 
			anonymous, you're still free to take advantage of the wealth of coupons and 
			other content available on our site without registering.  
		</p>
	</li>
	<li>
		<h3>Email Newsletter</h3>
		<p>
			When you register on the Site you may be asked whether you would like 
			to receive future offers or new offers from Community Offers.  You can also sign up 
			for our email newsletter to receive special deals and announcements by simply entering 
			your email address. If you do not wish to receive these offers via email, 
			simply "opt-out" by emailing <%= mail_to "optout@communityoffers.com" %> and enter "Unsubscribe" into 
			the subject line.
		</p>
	</li>
	<li>
		<h3>Information that is Automatically Collected</h3>
		<p>
			Community Offers also collects and stores information that is
			generated automatically as you navigate through the Site. For
			example, to enhance your experience on the Site, Community Offers 
			uses a standard feature found in Internet browser software called 
			a "cookie". Cookies are small files that your web browser places 
			on your hard drive for record keeping purposes. By showing how 
			and when visitors use the Site, cookies help track user trends 
			and patterns. They also prevent you from having to re-enter your 
			preferences on certain areas of the Site where you have entered 
			preference information before. The Site also uses web beacons 
			(also known as "single-pixel GIFs") to access cookies and to count 
			users who visit our web pages or open our HTML-formatted email 
			messages. Another example of information that the Site automatically 
			collects, but does not store, as you navigate the Site is limited 
			information about your connection to the Internet, including your 
			IP address. (Your IP address is a number that lets computers attached 
			to the Internet know where to send you data.) Your IP address does 
			not identify you personally. We use the information we automatically 
			collect to deliver our web pages to you upon request, to tailor our 
			sites to the interests of our users, and to measure traffic within 
			our website. 
		</p>
	</li>
</ul>
<h2>How Secure Is The Information We Collect?</h2>	
<p>
	Your information is stored on our servers located in the United States. 
	Community Offers is committed to industry best practices concerning 
	security to prevent the loss, misuse and alteration of the information 
	in our possession. However, as you know, third parties may unlawfully 
	intercept or access transmissions or private communications, and other 
	users may abuse or misuse your personal information that they collect 
	from the site. Therefore, although we work very hard to protect your 
	privacy, we do not promise, and you should not expect, that your personal 
	information or private communications will always remain private.
</p>

<p>
	Transactions on the new advertiser sign up forms are conducted in a 
	Secure Socket Layer (SSL) session, which encrypts all transaction data 
	for transmittal in a format that prevents theft of the information. 
	While on a secure page, the lock at the bottom of a web browser becomes 
	locked and this lets you know that you are in a secured session. 
</p>

<p>
	Our servers are located in a secure, supervised environment. Our 
	databases are accessible only by persons who have entered into and are 
	bound by a confidentiality and nondisclosure agreement with us.
</p>

<p>
	When you visit the Site, we will not collect any personally 
	identifiable information about you (such as your name, address, 
	telephone number, or e-mail address) unless you provide it to us 
	voluntarily. 
</p>

<h2>Information about Children's Online Privacy</h2>
<p>
	Community Offers does not market its services online to children 
	under the age of 13 and does not operate a children's area likely 
	to be of special interest to children. Community Offers does not 
	knowingly allow anyone under the age of 13 to register with the 
	Site or to otherwise disclose personally identifiable information 
	on our website, or to access those features that require registration. 
	Children should always get permission from their parents before sending 
	any information about them over the Internet. 
<p>
	
<h2>Information Sharing with Third Parties</h2>
<p>
	To make the Site more valuable to our visitors, occasionally we may 
	offer some additional features in conjunction with other third party 
	service providers. Community Offers will not disclose the information 
	that it collects online from you to allow third parties to use such 
	information to mail or email other promotional offers directly to 
	you unless you have permitted Community Offers to disclose such 
	information for the purposes of receiving promotional offers from such 
	third parties. If you choose to receive these promotional offers, then 
	your information may be used for direct mail or email marketing. In 
	addition, the Site includes links to other sites and provides access 
	to products and services offered by third parties, whose privacy policies 
	are separate from this Privacy Policy. When you provide information in the
	course of obtaining third party products or services through the Site, the
	use of any information you provide may be governed by the privacy policy
	of the provider of those third party products or services, even if it
	appears that you are on Community Offers-branded pages throughout the
	transaction. The third party provider's privacy policy may differ from ours 
	and you should contact the third party provider if you have any questions 
	about its privacy practices. Please take special care at all times to be 
	aware of which privacy policy governs your activity on the Internet. 
	Disclosure of Certain Information to Advertisers We may, at times, present 
	information to our advertisers, but only in the form of aggregated statistics 
	on traffic to various pages within the Site. Community Offers does not sell 
	to, or share with, third parties, any personably identifiable information 
	of its members. 
</p>
<h2>Changing Your Preferences</h2>
<p>
	If you wish to change your election (or to review, update, or delete 
	the information you provided when you registered with us), you may 
	do so at anytime in your personal profile. 
</p>

<h2>Other Disclosures</h2>
<p>
	We may occasionally release information about our visitors in order 
	to comply with law, to enforce our Visitor Agreement, or to protect 
	the rights, property, safety of visitors to the Site, or customers, 
	the public or Community Offers. As our business grows, we may buy or 
	sell various assets. In the event that another company acquires 
	Community Offers, one of its lines of business, or substantially all 
	of its assets, information on our visitors would be among the transferred
	assets. 
</p>

<h2>Protection of Your Information</h2>
<p>
	Community Offers is committed to keeping secure the data you provide us 
	and will take reasonable precautions to protect your personally identifiable 
	information from loss, misuse or alteration. Agents or contractors of 
	Community Offers who have access to your personally identifiable information
	in connection with providing services for Community Offers are required 
	to keep the information confidential and are not permitted to use this 
	information for any other purpose than to carry out the services they are 
	performing for Community Offers. 
</p>
<p>
	All information gathered on our site is stored within a Community 
	Offers controlled database accessible only to Community Offers. We 
	do not keep credit or debit card information stored on our site. 
	However, as effective as any security measure may be, no security 
	system is impenetrable. We cannot guarantee the security of our 
	database, nor can we guarantee that information you supply won't be 
	intercepted while being transmitted to us over the Internet. 
</p>
<p>
	Community Offers places safeguards to protect against loss, misuse, 
	unauthorized access and alteration of the data you send us with 
	physical, electronic, and managerial procedures. We urge you to take 
	every precaution to protect your personal data when you are on the 
	Internet.
</p>

<h2>Changes to this Privacy Policy</h2>
<p>
	We are continually making changes and improvements to the services we 
	offer through the Site. If we need to change our Privacy Policy at some 
	point in the future, we will post the changes before they take effect. 
	If you have any questions about the Community Offers' Privacy Policy, 
	please contact <%= mail_to "privacy@communityoffers.com" %>. 
</p>
<p>
	Community Offers<br />
  12400 Highway 71 West, Suite 350 <br />
  Austin, TX 78738 <br />
</p>