<div id='modal_wrapper'>
  <%= link_to "Close", "javascript:void(0)", :class => 'close_modal' %>
  <%= render :partial => "terms" %>  
  <%= link_to "Close", "javascript:void(0)", :class => 'close_modal' %>
</div>
