<p class="platinum_warning">
  Please note: The Platinum Plan is available only in select zip codes in the Houston area.
  Only one business in each category will be able to purchase this program. This program
  will not be guaranteed until availability is verified by our office. 
</p>
