<div id="advertiser_logo">
  <% image_url = offer.logo.normal.url %>
  <% if offer.class != AffiliateOffer and offer.alternate_logo? %>
	  <% image_url = offer.alternate_logo.normal.url %>
	<% end %>
	  
	<%= link_to_unless offer.website_url.nil?, image_tag(image_url, :alt => offer.name, :class => "logo", :width => 165, :height => 165), offer.website_url, :target => "_blank" %>
</div>
