<h3>Get the App!</h3>
<p>Now you can enjoy Community Offers&trade; Local Deals on your smart phone!</p>
<div><%= link_to image_tag('home/featured_actions/app_iphone.png'), iphone_app_path %> 
<%= link_to image_tag('home/featured_actions/app_droid.png'), android_app_path %></div>

