<h3>Print Offers!</h3>
<p>You can print any offer you see on our Web site and redeem it at the merchant!</p>
<%= image_tag 'home/featured_actions/print_pic.png', :style => 'float:right' %> 
<p>Just click PRINT at the top right corner of the offer details page!</p>
<div class='clear'></div>