<h3>Scan Codes!</h3>
<p>Don’t want to print an offer? Scan the QR code with your smart phone!  We have a scanner built right into our app!</p>  
<%= image_tag 'home/featured_actions/scan_pic.png', :style => 'float:right' %>
<p>Just grab the code in the top right corner of the offer details page to take it on the go!</p>
<div class='clear'></div>