<h3>Text It!</h3>
<p>Text the individual code string found on any Offer Details page  to 46786 and get the offer via SMS Text.  
<%= image_tag 'home/featured_actions/text_pic.png', :style => 'float:right' %> Just show your phone to redeem or forward it to a friend! It’s easy!</p>
<div class='clear'></div>