<div class='left' style='width: 58%'>
  <h3>Get the Card!</h3>
  <p>Loyalty cards are available in select areas of Austin, Houston, San Antonio and San Marcos.  Coming soon to an area near you!</p>
</div>
<div class='left' style='width: 40%; margin-left: 5px '>
  <%= image_tag 'home/featured_actions/use_pic.png'%> 
</div>
<div class='clear'></div>
<h4 style='font-size: 140; margin-top: 10px; text-align:center; '>Available at:</h4>
<p style='font-size: 90%; text-align:center'>Grocery Stores*<br />
Apartment Communities<br />
Area Merchants<br />
...and more!
</p>
<p style='font-size: 85%'>*Located on the free publication rack by the exit!  They're free, take one!</p>
