<% body_id "admin" %>
<%= render 'admin/nav' %>
<%= render :partial => "admin/sales_reporting/nav" %>
<% head_text "Sales Reports" %>
<h4>Sales Reporting Functionality Disabled</h4>
<%# render :partial => 'admin/sales_reporting/filters' %>
