<%- if flash.length > 0 -%>
	<div id="flash" class="grid_15">
	  <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}"%>
    <%- end -%>
	</div>
	<div class="clear"></div>
<%- end -%>
